.wy-nav-content {
    max-width: 95% !important;
}

table {
    width:95%;
}

.wy-table-responsive table td {
    white-space: normal !important;
}
.wy-table-responsive {
    overflow: visible !important;
}

